<div fxLayoutAlign="center">
	<mat-card fxLayout="column" fxFlex="100" fxFlex.sm="85" fxFlex.gt-sm="75">
		<form
			autocomplete="off"
			novalidate
			[formGroup]="form"
			(submit)="save()"
		>
			<mat-form-field>
				<input
					autofoqus
					#imageURL
					matInput
					[placeholder]="'post.input.featured_image' | translate"
					name="featured_image"
					formControlName="featured_image"
				/>
				<mat-error *ngIf="form.get('featured_image')!.hasError('url')">
					{{ "validation.url" | translate }}
				</mat-error>
			</mat-form-field>

			<mat-card-content>
				<mat-form-field>
					<input
						matInput
						[placeholder]="'post.input.title' | translate"
						name="title"
						formControlName="title"
					/>
					<mat-error>
						{{ "validation.required" | translate }}
					</mat-error>
				</mat-form-field>

				<div>
                    <tinymce matInput name="content" [config]="options" formControlName="content"></tinymce>
                </div>

				<!-- <editor
					[init]="{ base_url: '/tinymce', suffix: '.min' }"
				></editor> -->

				<!-- <editor
					apiKey="no-api-key"
					cloudChannel="6"
					[disabled]="false"
					id=""
					[init]="{}"
					initialValue=""
					[inline]="false"
					plugins=""
					tagName="div"
					toolbar=""
				></editor> -->

				<!-- MATERIAL CHIPS -->
				<mat-form-field>
					<mat-chip-grid #chipGrid formArrayName="tags">
						<mat-chip-row
							*ngFor="let tag of tags.controls; let i = index"
							(removed)="remove(i)"
						>
							{{ tag.value }}
							<button
								matChipRemove
								aria-label="'remove ' + keyword"
							>
								<mat-icon>cancel</mat-icon>
							</button>
						</mat-chip-row>
					</mat-chip-grid>
					<input
						[matChipInputFor]="chipGrid"
						(matChipInputTokenEnd)="add($event)"
					/>
				</mat-form-field>
			</mat-card-content>
			<div align="end">
				<button
					type="submit"
					color="primary"
					mat-raised-button
					[disabled]="form.invalid"
				>
					{{ "post.input.save" | translate }}
				</button>
			</div>
			<!-- <div>
                <pre>{{form.value | json}}</pre>
            </div> -->
		</form>
	</mat-card>
</div>
