mat-card-header {
	place-content: center;

	figure {
		display: flex;
		place-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		margin: 0;

        &:hover figcaption,
        &:focus figcaption {
            opacity: 1;
        }

        &:hover #myDelButton,
        &:focus #myDelButton {
            animation: shrink_and_rotate 0.5s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        &:hover figcaption .caption-content,
        &:focus figcaption .caption-content {
            transform: translate(0px, 0px);
        }

		img {
			width: 100%;
		}

		figcaption {
			display: flex;
			place-content: center;
			align-items: center;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background-color: rgba(63, 97, 132, 0.5);
			opacity: 0;
			transition: all 300ms ease-in-out;
		}
	}
}

@keyframes shrink_and_rotate {
    0% {
        transform: rotate(-10deg) scale(0.8);
    }

    80% {
        transform: rotate(50deg) scale(1.2);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}
