<div class="content-centered">
	<mat-card fxLayout="column" fxFlex="100" fxFlex.sm="85" fxFlex.gt-sm="75">
		<form
			autocomplete="off"
			novalidate
			[formGroup]="form"
			(submit)="save()"
		>
			<mat-form-field>
				<input
					autofoqus
					#imageURL
					matInput
					[placeholder]="'post.input.featured_image' | translate"
					name="featured_image"
					formControlName="featured_image"
				/>
                <mat-error *ngIf="form.get('featured_image')?.invalid">{{
					getErrorMessage("featured_image") | translate
				}}</mat-error>

			</mat-form-field>
			<mat-card-header fxLayoutAlign="center" class="post-create-header">
				<figure *ngIf="imageURL.value">
					<img [src]="imageURL.value" />
					<figcaption fxLayoutAlign="center center">
						<button
							id="myDelButton"
							mat-mini-fab
							color="primary"
							(click)="
								form.controls['featured_image'].setValue('')
							"
							aria-label="delete post featured image"
						>
							<mat-icon>close</mat-icon>
						</button>
					</figcaption>
				</figure>
			</mat-card-header>
			<mat-card-content>
				<mat-form-field>
					<input
						matInput
						[placeholder]="'post.input.title' | translate"
						name="title"
						formControlName="title"
					/>
                    <mat-error *ngIf="form.get('title')?.invalid">{{
                        getErrorMessage("title") | translate
                    }}</mat-error>
				</mat-form-field>

				<div>
					<tinymce
						matInput
						name="content"
						[config]="options"
						formControlName="content"
					></tinymce>
				</div>

				<!-- MATERIAL CHIPS -->
				<mat-form-field>
					<mat-chip-grid #chipGrid formArrayName="tags">
						<mat-chip-row
							*ngFor="let tag of tags.controls; let i = index"
							(removed)="remove(i)"
						>
							{{ tag.value }}

							<button
								matChipRemove
								aria-label="'remove ' + keyword"
							>
								<mat-icon>cancel</mat-icon>
							</button>
						</mat-chip-row>

						<input
							[placeholder]="'post.input.tag.placeholder' | translate"
							[matChipInputFor]="chipGrid"
							[matChipInputAddOnBlur]="addOnBlur"
							(matChipInputTokenEnd)="add($event)"
						/>
					</mat-chip-grid>
				</mat-form-field>
			</mat-card-content>

			<mat-card-actions align="end">
				<button
					type="submit"
					color="primary"
					mat-raised-button
					[disabled]="!form.valid && (form.dirty || form.untouched)"
				>
					{{ "post.input.save" | translate }}
				</button>
			</mat-card-actions>
		</form>
	</mat-card>
</div>
