<div class="content-centered">
	<mat-card
		fxFlex="100"
		fxFlex.sm="85"
		fxFlex.gt-sm="65"
		*ngIf="post$ | async as post"
	>
		<mat-card-header fxLayout="row">
			<div mat-card-avatar class="header-image"></div>
			<mat-card-title> {{ post.title }} </mat-card-title>
			<mat-card-subtitle>
				<time>
					{{
						post.created_at! * 1000 | amDateFormat : "DD-MM-YYYY HH:mm"
					}}
					(
					{{
						post.created_at! * 1000 | amLocale : locale | amTimeAgo
					}}
					)
				</time>
			</mat-card-subtitle>
			<span class="fx-flex"></span>

            <span>
                <mat-icon (click)="bookmark(false)">bookmark</mat-icon>
            </span>

		</mat-card-header>
		<!-- only displays when this is in viewport -->
		<!-- <img lazySrcVisible="visible" mat-card-image [lazySrc]="post.featured_image && post.featured_image !=''   ? post.featured_image : './../../../assets/img/blog.jpg'" /> -->
		<img mat-card-image [src]="post.featured_image" />
		<mat-card-content>
			<span
				[innerHTML]="sanitizer.bypassSecurityTrustHtml(post.content!)"
			>
			</span>
		</mat-card-content>
		<mat-divider class="inset"></mat-divider>
		<mat-card-actions align="start">
			<mat-chip-listbox aria-label="Tag selection">
				<mat-chip *ngFor="let tag of post.tags">{{ tag }}</mat-chip>
			</mat-chip-listbox>
		</mat-card-actions>
	</mat-card>
</div>
<fab-edit-post *ngIf="post$ | async; let post" [id]="post.id"></fab-edit-post>
