mat-nav-list {
    mat-icon {
        margin-right: 1rem;
    }

    a.mdc-list-item {
        // border-top: 4px solid #1C6EA4;
        border-radius: 0px 48px 48px 0px;
        color: #202124;
        opacity: 0.9;

        &:focus {
            background-color: inherit;
        }

        &.active {
            background-color: #d2e3fc;
        }
    }
}
