<div class="content-centered">
	<mat-card *ngIf="user$ |async">
		<form
			autocomplete="off"
			novalidate
			[formGroup]="form"
			(submit)="save()"
		>
			<mat-card-content>
				<h3 matSubheader>
					{{ "settings.appearance.section" | translate }}
				</h3>
				<div style="display: flex; flex-direction: row">
					<mat-icon class="action">palette</mat-icon>
					<div class="text">
						<h4>
							{{ "settings.appearance.title" | translate }}
						</h4>
						<p>
							{{ "settings.appearance.description" | translate }}
						</p>
					</div>
					<span class="fx-flex"></span>
					<span class="action space-between">
						<mat-icon> light_mode </mat-icon>
						<!-- <mat-icon [ngClass]="ischecked ? 'material-icons' : 'material-icons-outlined' "
                                [color]="ischecked ? 'accent' : ''" style="margin-right: 1rem;">
                                nights_stay</mat-icon> -->

						<mat-slide-toggle
							name="darkTheme"
							formControlName="darkTheme"
							(change)="onChange($event)"
						>
						</mat-slide-toggle>
						<mat-icon> dark_mode </mat-icon>
					</span>
				</div>
				<mat-divider></mat-divider>
				<h3 matSubheader>{{ "settings.other" | translate }}</h3>
				<div
					style="
						display: flex;
						flex-direction: row;
						align-items: center;
					"
				>
					<mat-icon class="action">language</mat-icon>
					<div class="text">
						<h4>
							{{ "settings.language.title" | translate }}
						</h4>
						<p>
							{{ "settings.language.description" | translate }}
						</p>
					</div>
					<span class="fx-flex"></span>
					<mat-form-field>
						<mat-select
							class="action"
							[placeholder]="
								'settings.language.input' | translate
							"
							[value]="language"
							name="language"
							formControlName="language"
						>
							<mat-option
								*ngFor="let language of languages"
								[value]="language"
							>
								{{
									language.split("-")[1] == "ES"
										? "Español"
										: "English"
								}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</mat-card-content>
			<mat-card-actions align="end">
				<button
					type="submit"
					color="primary"
					mat-raised-button
					[disabled]="!form.valid && (form.dirty || form.untouched)"
				>
					{{ "post.input.save" | translate }}
				</button>
			</mat-card-actions>
		</form>
	</mat-card>
</div>
