<div class="content-centered">
	<mat-card *ngIf="user$ | async">
		<form
			autocomplete="off"
			novalidate
			[formGroup]="form"
			(submit)="save()"
		>
			<mat-card-content>
				<mat-list>
					<div mat-subheader>
						{{ "page.settings.appearance.section" | translate }}
					</div>
					<div style="display: flex; flex-direction: row">
						<mat-list-item>
							<mat-icon matListItemIcon>palette</mat-icon>
							<div matListItemTitle>
								{{ "page.settings.appearance.title" | translate }}
							</div>
							<div matListItemLine>
								{{
									"page.settings.appearance.subtitle"
										| translate
								}}
							</div>
						</mat-list-item>
						<span class="fx-flex"></span>

						<mat-icon matListIcon>light_mode</mat-icon>
						<mat-slide-toggle
							name="darkTheme"
							formControlName="darkTheme"
							(change)="onChange($event)"
						></mat-slide-toggle>
						<mat-icon matListIcon>dark_mode</mat-icon>
					</div>
					<mat-divider></mat-divider>
					<div mat-subheader>{{ "page.settings.others.section" | translate }}</div>

					<div style="display: flex; flex-direction: row">
						<mat-list-item>
							<mat-icon matListItemIcon>language</mat-icon>
							<div matListItemTitle>
								{{ "page.settings.others.title" | translate }}
							</div>
							<div matListItemLine>
								{{
									"page.settings.others.subtitle" | translate
								}}
							</div>
						</mat-list-item>
						<span class="fx-flex"></span>
						<mat-form-field fxFlex="23">
							<mat-select
								[placeholder]="
									'settings.language.input' | translate
								"
								[value]="language"
								name="language"
								formControlName="language"
							>
								<mat-option
									*ngFor="let language of languages"
									[value]="language"
								>
									{{
										language.split("-")[1] == "ES"
											? "Español"
											: "English"
									}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</mat-list>
			</mat-card-content>
			<mat-card-actions align="end">
				<button color="primary" mat-raised-button>{{ "input.save" | translate }}</button>
			</mat-card-actions>
		</form>
	</mat-card>
</div>
