<div class="content-centered">
	<mat-card class="fx-layout-column"
		fxLayout="column"
		fxFlex="100"
		fxFlex.sm="80"
		fxFlex.gt-sm="55"
		*ngIf="user$ | async"
	>
		<form
			autocomplete="off"
			novalidate
			[formGroup]="form"
			(submit)="save()"
		>
			<mat-card-content>
				<mat-list>
					<h3 matSubheader>
						{{ "settings.appearance.section" | translate }}
					</h3>
					<mat-list-item>
						<mat-icon matListIcon>palette</mat-icon>
						<h4 matLine>
							{{ "settings.appearance.title" | translate }}
						</h4>
						<p matLine>
							{{ "settings.appearance.description" | translate }}
						</p>
						<span fxLayoutAlign="space-between">
							<mat-icon> light_mode </mat-icon>
							<!-- <mat-icon [ngClass]="ischecked ? 'material-icons' : 'material-icons-outlined' "
                                [color]="ischecked ? 'accent' : ''" style="margin-right: 1rem;">
                                nights_stay</mat-icon> -->

							<mat-slide-toggle
								name="darkTheme"
								formControlName="darkTheme"
								(change)="onChange($event)"
							>
							</mat-slide-toggle>
							<mat-icon> dark_mode </mat-icon>
						</span>
					</mat-list-item>
					<mat-divider></mat-divider>
					<h3 matSubheader>{{ "settings.other" | translate }}</h3>
					<mat-list-item>
						<mat-icon matListIcon>language</mat-icon>
						<h4 matLine>
							{{ "settings.language.title" | translate }}
						</h4>
						<p matLine>
							{{ "settings.language.description" | translate }}
						</p>
						<mat-form-field fxFlex="23">
							<mat-select
								[placeholder]="
									'settings.language.input' | translate
								"
								[value]="language"
								name="language"
								formControlName="language"
							>
								<mat-option
									*ngFor="let language of languages"
									[value]="language"
								>
									{{
										language.split("-")[1] == "ES"
											? "Español"
											: "English"
									}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</mat-list-item>
				</mat-list>
			</mat-card-content>
			<mat-card-actions align="end">
				<button
					type="submit"
					color="primary"
					mat-raised-button
					[disabled]="!form.valid && (form.dirty || form.untouched)"
				>
					{{ "post.input.save" | translate }}
				</button>
			</mat-card-actions>
		</form>
	</mat-card>
</div>
