<mat-drawer-container>
	<mat-drawer
		#drawer
		fixedInViewport
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="(isHandset$ | async) === false"
	>
		<mat-toolbar>Menu</mat-toolbar>
		<app-drawer-nav-list
			[drawer]="drawer"
			[isHandset]="(isHandset$ | async)!"
		></app-drawer-nav-list>
	</mat-drawer>
	<mat-drawer-content>
		<mat-toolbar color="primary" class="mat-elevation-z11">
			<app-btn-drawer [drawer]="drawer"></app-btn-drawer>
			<span>Ng15fireblog</span>
			<span class="fx-flex"></span>
			<app-btn-language-selector></app-btn-language-selector>

			<mat-progress-bar
				color="accent"
				mode="indeterminate"
				[style.top]="(isHandset$ | async) ? '52px' : '60px'"
			></mat-progress-bar>
		</mat-toolbar>
		<div class="content">
			<router-outlet></router-outlet>
		</div>
	</mat-drawer-content>
</mat-drawer-container>
