mat-drawer-container {
	height: 100vh;
	min-height: 100%;
	min-width: 100%;
	width: 100vw;

	mat-drawer {
		width: 15rem;
	}

	mat-drawer-content {
		div.content {
			flex-direction: column;
			box-sizing: border-box;
			display: flex;
			align-items: center;
		}

		mat-card {
			border-radius: 1rem !important;
			margin: 0.5rem;

			mat-form-field {
				width: 100%;
				margin: 0.5rem 0 !important;
			}

			.mat-card-actions {
				margin: 0;
			}
		}
	}
}
