mat-drawer-container {
	height: 100vh;
	min-height: 100%;
	min-width: 100%;
	width: 100vw;

	.navigation {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 1rem 0 0;
	}

	.progress-bar {
		flex: 0 1 auto;
		flex-direction: row;
		display: flex;
	}

	mat-drawer {
		width: 16rem;

		mat-nav-list {
			.mat-mdc-list-item .mdc-list-item__primary-text {
				color: red;
				display: flex;
			}
		}
	}
}
