<mat-card
	fxLayout="column"
	fxFlex="100"
	fxFlex.sm="60"
	fxFlex.md="50"
	fxFlex.lg="40"
>
	<form
		autocomplete="off"
		novalidate
		[formGroup]="form"
		(submit)="save()">
		<mat-card-header>
			<mat-card-title>Register</mat-card-title>
		</mat-card-header>

		<mat-card-content>
			<mat-form-field>
				<input
					autofocus
					matInput
					[placeholder]="'auth.input.name' | translate"
					name="displayName"
					formControlName="displayName"
				/>
				<mat-error *ngIf="errorHandling('displayName', 'required')">
                    {{ 'validation.required' | translate }}
                </mat-error>
			</mat-form-field>

			<mat-form-field>
				<input
					matInput
					[placeholder]="'auth.input.email' | translate"
					name="email"
					formControlName="email"
				/>
                <mat-error *ngIf="errorHandling('email', 'required')">
					{{ "validation.required" | translate }}
				</mat-error>
                <mat-error *ngIf="errorHandling('email', 'email')">
					{{ "validation.email" | translate }}
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input
					matInput
					[placeholder]="'auth.input.password' | translate"
					name="password"
					formControlName="password"
					[type]="hide ? 'password' : 'text'"
				/>
                <mat-error *ngIf="errorHandling('password', 'required')">
					{{ "validation.required" | translate }}
				</mat-error>
				<mat-error *ngIf="errorHandling('password', 'minlength')">
					{{ "validation.minlength" | translate }}
				</mat-error>
				<mat-icon matSuffix (click)="hide = !hide">{{
					hide ? "visibility" : "visibility_off"
				}}</mat-icon>
			</mat-form-field>

			<mat-form-field>
				<input
					matInput
					[placeholder]="'auth.input.password_confirm' | translate"
					name="password_confirm"
					formControlName="password_confirm"
					[type]="hide ? 'password' : 'text'"
				/>
				<mat-icon matSuffix (click)="hide = !hide">{{
					hide ? "visibility" : "visibility_off"
				}}</mat-icon>

                <mat-error *ngIf="errorHandling('password_confirm', 'pwdMatch')">
					{{ "validation.pwd_match" | translate }}
				</mat-error>

			</mat-form-field>

			<mat-form-field>
				<input
					matInput
					[placeholder]="'auth.input.img_op' | translate"
					name="photoURL"
					formControlName="photoURL"
					#imageURL
				/>
				<mat-error *ngIf="errorHandling('photoURL', 'pattern')">
					{{ "validation.url" | translate }}
				</mat-error>
			</mat-form-field>

			<!-- <img *ngIf="imageURL.value" mat-card-image [src]="imageURL.value" class="image-url"> -->

			<!-- <ngx-recaptcha2 #captchaElem
                formControlName="recaptcha"
                name="recaptcha"
                [size]="size"
                [hl]="i18n.language"
                [theme]="theme"
                [type]="type"
                [siteKey]="siteKey"
                (expire)="handleExpire()"
                (load)="handleLoad()"
                (success)="handleSuccess($event)">
            </ngx-recaptcha2> -->
		</mat-card-content>

		<mat-card-actions align="end">
			<button
				type="submit"
				color="primary"
				mat-raised-button
				[disabled]="!form.valid && (form.dirty || form.untouched)"
			>
				{{ "auth.register.button" | translate }}
			</button>
		</mat-card-actions>
	</form>
</mat-card>
