a {
    width: 100%;
    place-content: center;
    margin-top: 0.5rem;

    &:link,
    &:visited,
    &:focus,
    &:active,
    &:hover {
        text-decoration: none;
        cursor: pointer;
        color: inherit;
        width: 100%;
        height: 100%;
        display: flex;
    }

    mat-card{
        &.list {
            max-width: 85%;

            mat-card-title.truncated{
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                display: -webkit-inline-box;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
            }
        }
    }

}


